<form class="form-horizontal" (ngSubmit)="formSubmit()" [formGroup]="cardForm">
  <app-text-input label="Header Card: " placeholder="@Header Card..." formControlName="header"></app-text-input>
  <app-text-input label="Content Card: " placeholder="@Content Card..." ></app-text-input>
  <app-text-input label="Footer Card: " placeholder="@Footer Card..." ></app-text-input>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success ">Save</button>
    </div>
  </div>
</form>

<pre>{{cardForm.value | json}}</pre>